<div id="sidebar1">
<!-- this probably should be rendered as a partial see index -->
	<h2>Articles</h2>
	<p id="select">Show: <%= link_to 'All', articles_path %></p>
	<% for article in @articles %>
		<h4><%= link_to h(article.title), article %></h4>
	<% end %>
</div>
<div id="mainContent">
	<%= render :partial => @article %>	
	<% if admin? %>
		<%= link_to 'Edit', edit_article_path(@article) %> |
		<%= link_to 'Destroy', @article, :method => :delete, :confirm => "Are you sure?" %> |
	<% end %>
	<%= link_to 'See All Articles', articles_path %>
	
	</p>
</div>